<!-- Hereda de layout -->
{% extends "layout/layout.html" %}

<!-- Cambar de Titulo a la etiqueta de layout -->   
{% block title %} Index {% endblock %}

{% block content %}

    {% for Lista in Lista_User %}
        <form action="CrearUsuario/" method="GET" >
            <input type="text" value="{{Lista.Id}}" name="Id" placeholder="Id">
            <input type="text" value="{{Lista.Nombre}}" name="Nombre" placeholder="Nombre">
            <input type="text" value="{{Lista.Apellido}}" name="Apellido" placeholder="Apellido">
            <input type="submit">
            <br>
        </form>
    {% endfor %}

    {% include "Usuarios/indexp.html"%}

{% endblock %}



